@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Caesar+Dressing&family=Julius+Sans+One&family=Libre+Baskerville&family=Mulish&family=Outfit&family=Pompiere&family=Work+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Outfit";
  color: #ededed;
  background-color: #1c1c1c;
  height: 100vh;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  font-size: 2rem;
  height: 10%;
}

main{
  height: 90%;
}

header span{
  color: #ef4e7b;
}

button, input{
  font: inherit;
  color: #1c1c1c;
  background-color: #ededed;
  border: none;
  border-radius: 5px;
  padding: 1em;
  font-weight: bold;
}

button{
  cursor: pointer;
}

#startPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #44566b;
  width: 500px;
  height: 400px;
  border-radius: 10px;
}


.signButtons button{
  width: 100%;
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  border: none;
  border-radius: 10px;
  background-color: #323f4e;
}

#buttonSignX{
  background-color: #ef4e7b;
}

.signButtons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 80%;
  background-color: #323f4e;
  border-radius: 10px;
  padding: 0.7em;
}

.nameInputs{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 80%;
}

.nameInputs input{
  width: 100%;
}

#startGameButton{
  width: 40%;
  font-size: 1.2rem;
}

h2{
  font-size: 2rem;
}

#gamePage{
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  text-align: center;
  display: none;
}

#gameScoreBoard{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 400px;
}

#gameBoard{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 20px;
  width: 350px;
  height: 350px;
}

.scoreBoardCards, #turnText{
  padding: 0.7em;
  border-radius: 5px;
  width: 100%;
  background-color: #44566b;
}

#gameBoard button{
  background-color: #44566b;
  color: #ededed;
  font-size: 4rem;
  padding: 0;
}

#turnText{
  width: 250px;
  font-size: 1.2rem;
  font-weight: bold;
}